body{
background:#f5f5f5;
font-family:Arial;
}

#wrapper{
width:1100px;
margin:10px auto;
}

#header{
background:#673ab7;
color:white;
padding:20px;
text-align:center;
}

#left{
width:200px;
float:left;
background:#ffe082;
padding:10px;
}

#right{
width:200px;
float:right;
background:#80deea;
padding:10px;
}

#content{
margin-left:200px;
margin-right:200px;
background:white;
padding:10px;
}

#footer{
background:#333;
color:white;
text-align:center;
padding:10px;
}

.clearfix{
clear:both;
}