body{
background:#eaeaea;
font-family:Arial;
}

#wrapper{
width:1100px;
margin:10px auto;
}

#header{
background:#2196F3;
color:white;
padding:20px;
text-align:center;
}

#left{
width:200px;
float:left;
background:#ffccbc;
padding:10px;
}

#content{
width:700px;
float:left;
background:white;
padding:10px;
}

#right{
width:200px;
float:left;
background:#c5e1a5;
padding:10px;
}

#footer{
background:#333;
color:white;
text-align:center;
padding:10px;
}

.clearfix{
clear:both;
}